<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <%= render "shared/sidenav" %>

    </div>
    <div class="col-sm-10">
      <div class="panel panel-primary">


        <div class="panel-heading">
          department
        </div>

        <div class="panel-body" style="min-height: 450px">
          department body
        </div>

      </div>
    </div>
  </div>
</div>


