<div class="container">



  <div class="row">

    <% if student_logged_in? %>
         <!--==========================学生登录主页显示===========================-->
       <div style="background-color: #00FFFF;padding-bottom: 10px;padding-top: 10px">
        <div style="font-size: 30px;text-align: center;">
          <%= image_tag "ucaslogo.png" %>
          <sub>在线选课系统</sub>
        </div>
      </div>

      <div style="padding-top: 50px;">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">选课提示</h3>
          </div>
          <div class="panel-body" style="min-height: 450px">


              <center>
                  <table class="table table-striped table-bordered table-advance table-hover">
                     <thead>
                         <tr>
                             <th>类别</th>
                             <th>公共必修课程及学分</th>
                             <th>公共选修课程及学分</th>
                             <th>专业学位课学分要求</th>
                             <th>总学分要求</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th>学习要求</th>
                          <td>
                            <div>人文系列讲座（1学分)<br>中国特色社会主义理论与实践研究（1学分）</div>
                            <div>自然辩证法概论（1学分）</div>
                            <div>硕士学位英语（英语A）（3学分）</div>
                            <div>知识产权（1学分）</div>
                            <div>信息检索（1学分）</div>
                            <div>专业英语（2学分）</div>
                            </td>
                          <td>&gt;=2学分</td>
                          <td>&gt;=12学分学分</td>
                          <td>&gt;=30学分学分</td>
                        </tr>
                        <tr>
                          <th>选课情况</th>
                          <td>
                            <div>知识产权（1学分）</div>
                            <div>人文系列讲座（1学分）</div>
                            <div>硕士学位英语（英语A）（3学分）</div>
                            <div>中国特色社会主义理论与实践研究（1学分）</div>
                            </td>
                          <td class="">2.0学分</td>
                          <td class="">12.0学分</td>
                          <td class="m-font-red">20.0学分</td>
                        </tr>
                        <tr>
                          <th>获取学分</th>
                          <td>
                            </td>
                          <td class="m-font-red">0.0学分</td>
                          <td class="m-font-red">0.0学分</td>
                          <td class="m-font-red">0.0学分</td>
                        </tr>
                      </tbody>
                    </table>
                </center>



          </div>
      </div>


    <%elsif teacher_logged_in?%>
       <!--=============================老师显示页面===============================-->
      <div style="background-color: #00FFFF;padding-bottom: 10px;padding-top: 10px">
        <div style="font-size: 30px;text-align: center;">
          <%= image_tag "ucaslogo.png" %>
          <sub>在线选课系统</sub>
        </div>
      </div>

      
    <%elsif admin_logged_in?%>
    <!--=============================admin显示页面===============================-->
      <div style="background-color: #00FFFF;padding-bottom: 10px;padding-top: 10px">
        <div style="font-size: 30px;text-align: center;">
          <%= image_tag "ucaslogo.png" %>
          <sub>在线选课系统</sub>
        </div>
      </div>

      
    <%else%>
      <!-- ==================================   游客显示页面 ==========================   -->
      <div style="background-color: #00FFFF;padding-bottom: 10px;padding-top: 10px">
        <div style="font-size: 30px;text-align: center;">
          <%= image_tag "ucaslogo.png" %>
          <sub>在线选课系统</sub>
        </div>
      </div>
      <div style="padding-top: 50px;">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">通知公告</h3>
          </div>
          <div class="panel-body" style="min-height: 450px">

            <div class="mcb-search" style="padding-bottom: 20px;">
                <form id="frm" name="frm" action="/notice/view/1" method="post" class="m-row-form form-inline">
                      <span style="font-size: 15px;">选择类别：</span>
                          <select name="displayArea" class="input-small">
                            <option value="">请选择</option>
                            <option value="1" >公告</option>
                            <option value="2" >消息</option>
                            <option value="3" >政策规章</option>
                            <option value="4" >业务流程</option>
                            <option value="5" >使用说明</option>
                            </select>
                      <button type="submit" class="btn btn-primary"><i class="icon-search"></i> 查询</button>
                </form>
            </div>

            <table class="table table-striped table-hover">
              <thead>
              <tr>
                <th>序号</th>
                <th>标题</th>
                <th>阅读次数</th>
                <th>部门</th>
                <th>发布时间</th>
                <th>是否有附件</th>
              </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>英语B免修考试报名通知</td>
                  <td>2650</td>
                  <td>教务部</td>
                  <td>2017-11-10</td>
                  <td><input type="checkbox"  disabled="disabled"/></td>
                </tr>
                 <tr>
                  <td>2</td>
                  <td>2017-2018秋季学期课程考试时间安排</td>
                  <td>1345</td>
                  <td>教务部</td>
                  <td>2017-10-10</td>
                  <td><input type="checkbox"  disabled="disabled" checked="checked" /></td>
                </tr>
                 <tr>
                  <td>3</td>
                  <td>英语B课程增容通知</td>
                  <td>4565</td>
                  <td>教务部</td>
                  <td>2017-11-10</td>
                  <td><input type="checkbox"  disabled="disabled"/></td>
                </tr>
                 <tr>
                  <td>4</td>
                  <td>2017-2018学年春季学期预计开课统计</td>
                  <td>456</td>
                  <td>教务部</td>
                  <td>2017-09-10</td>
                  <td><input type="checkbox"  disabled="disabled"/></td>
                </tr>
                 <tr>
                  <td>5</td>
                  <td>2017-2018学年秋季学期研究生网络选课说明</td>
                  <td>324</td>
                  <td>教务部</td>
                  <td>2017-10-10</td>
                  <td><input type="checkbox"  disabled="disabled" checked="checked"/></td>
                </tr>
                  <tr>
                  <td>6</td>
                  <td>核心课修读问题Q&A</td>
                  <td>567</td>
                  <td>教务部</td>
                  <td>2017-08-10</td>
                  <td><input type="checkbox"  disabled="disabled"/></td>
                </tr>
                 <tr>
                  <td>7</td>
                  <td>英语B课程增容通知</td>
                  <td>345</td>
                  <td>教务部</td>
                  <td>2017-11-10</td>
                  <td><input type="checkbox"  disabled="disabled"/></td>
                </tr>
                  <tr>
                  <td>8</td>
                  <td>2016-2017学年春季学期研究生选课说明</td>
                  <td>234</td>
                  <td>教务部</td>
                  <td>2017-9-11</td>
                  <td><input type="checkbox"  disabled="disabled"/></td>
                </tr>


               
              </tbody>

            </table>
            <ul class="pagination" style="float: right;">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                     <li class="page-item"><a class="page-link" href="#">...</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </div>
        </div>
      </div>

    <%end%>

   
</div>

